.cadastro{
    padding-left: 10em;
}

.cadastro__campos {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.cadastro__campos {
    font-size: 14px;
    padding: .2em;
}

.form__botoes {
    margin-left: 87%;
}

.form__botao-salvar {
    background-color: var(--azul);
    border: 1px solid var(--azul);
}

.form__botao-limpar {
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
}

.form__botao-limpar,
.form__botao-salvar {
    padding: .5em;
    font-size: 12px;
    color: var(--branco);
    border-radius: 5px;
}

.campo {
    margin: .3em 0;
    padding: .3em;
    border: 1px solid var(--bordas);
    border-radius: 5px;
}

.campo-matriz {
    padding-top: .5em;
}